<div class="container">
  <div class="card-show">
    <h1>Add an ingredient</h1>
    <div id="cocktail-form">
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.button :submit %>
      <% end %>
    </div>
    <%= link_to "Back to #{@cocktail.name}", cocktail_path(@cocktail) %>
    <br>
    <%= link_to "Back to all cocktails", root_path %>
  </div>
</div>
